html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    color: white;
}


#map {
    background-color: rgb(50, 50, 70);
    flex: 0.75;
}

#sidebar {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    padding: 10px;
}


path.country {
    stroke: black;
    stroke-width: 0.25px;
}

path.country:hover {
    stroke-width: 1.5px;
}


.chart {
    background-color: rgb(75, 75, 75);
}

.bar {

}

.pie {

}


.tooltip {
    position: absolute;
    padding: 4px;
    font: 12px sans-serif;
    background: lightseagreen;
    border-radius: 8px;
    pointer-events: none;
}

.sidebar-divider {
    width: 100%; 
    height: 2px; 
    background-color: gray; 
    margin-top: 15px;
}